// main-footer
.main-footer
  background-color: $light-black
  padding: 3% 0
  color: $white
  font-size: 14px
.footer-column
  margin: 15px 0
  // p 
  //   position: relative
  //   font-size: 15px
.logo-footer
  width: 125px
  height: auto
p 
  color: $grey
  padding: 0
  margin-bottom: 15px
  margin-top: 15px
  font-size: 14px
.footer-social
  margin-top: 40px
  .soc
    li 
      display: inline-block
      margin: 3px
      a
        i
          color: $dark-white
          margin-bottom: 0
          transition: all .5s ease 
          &:hover
            color: $white
// main-footer END