// header
body
  &.ishome
    .site-header
      position: relative
      min-height: 700px
      height: 100vh
      background-color: $dark
      .top-line
        padding-top: 40px
        position: absolute
        width: 100%
        z-index: 1
.logo
	img
		width: 125px
		height: auto
		margin-left: 45px
.top-line
  .phone
    position: absolute
    right: 85px
    top: 44px
    font-size: 20px
    display: flex
    .fa-mobile
      color: $grey
      margin-right: 10px
      margin-top: 5px
      font-size: 23px
    p
      font-family: firasanse
      align-items: center
      white-space: nowrap
      color: $white 
      margin: 0
      font-size: 22px
section, header
	background-size: cover
	background-position: center
.img-responsive
	display: block
	max-width: 100%
	height: auto
.header-flex
  display: flex
  height: 100%
  position: relative
  top: 0
.flex-center
  margin: auto
.header-composition
  text-align: center
  p
    margin-top: 40px
    color: $white
    font-size: 16px
  .button
    margin-top: 25px
.welcome
  p 
    display: flex
    font-size: 14px
    text-transform: uppercase
    white-space: nowrap
    margin: 0
    margin-bottom: -10px
    color: $white
    span
      margin: 0 10px
      font-size: 14px
    &:before, &:after
      content: ""
      position: relative
      height: 1px
      width: 100%
      background-color: $white
      align-self: center
  h6 
    font-size: 18px
    font-weight: normal
    margin-bottom: 0
    margin-top: 25px
    i
      color: $grey
      font-size: 12px
      margin: 0 6px 15px 6px
.h1
  font-size: 69px
  margin: 0
  line-height: 1.6
  border-bottom: 1px solid $white
  white-space: nowrap
  strong
    font-size: 17px
    margin-top: 25px
    .fa
      margin-right: 10px
      font-size: 12px
      color: $grey
      &:last-child
        margin-left: 10px
        margin-right: inherit
.header-social
  position: absolute
  display: flex
  right: 0
  height: 100%
  border-left: 1px solid rgba($white, .1)
  top: 0
  width: 65px
  nav
    display: flex
.soc
  margin: auto
  ul, li
    margin: 0
    padding: 0
    list-style: none
  i
    color: darken($grey, 20%) 
    font-size: 17px
    background-color: rgba($white, .3)
    height: 38px
    width: 38px
    border-radius: 50%
    text-align: center
    margin: 9px 0
    line-height: 38px
    transition: background-color .25s ease
    &:hover
      background-color: rgba($white, .5)
      position: relative
.header-contacts
  background-color: rgba($black , .3)
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  border-top: 1px solid rgba($white, .15)
  padding: 10px 0
  i 
    color: $grey
    display: flex
    justify-serif: center
    p 
      color: $white
      padding-left: 10px
      font-size: 18px
      margin-bottom: 0
.header-phone
  font-family: firasans, sans-serif
  font-size: 16px !important
.fa-mobile
  justify-content: center
.header-bottom
  margin: 0 
// header END