
body
  &.ishome
    .site-header
      position: relative
      min-height: 700px
      height: 100vh
      background-color: $dark
section, header
	background-size: cover
	background-position: center


.header-contacts
  background-color: rgba(black , .3)
  // height: 55px
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  border-top: 1px solid rgba($white, .15)
  padding: 10px 0
  .icon 
    color: $gray
    display: flex
    justify-serif: center
  .text
    color: $white
    padding-left: 10px
    font-size: 18px
    margin-bottom: 0
  .header-phone
    font-family: $phone-font
    font-size: 16px !important
.fa-mobile
  justify-content: center
.header-bottom
  margin: 0      

