
body
  &.ishome
    .site-header
      position: relative
      min-height: 700px
      height: 100vh
      background-color: $dark
section, header
	background-size: cover
	background-position: center

.header-social
  position: absolute
  display: flex
  right: 0
  height: 100%
  border-left: 1px solid rgba($white, .1)
  top: 0
  width: 65px
  nav
    display: flex
.soc
  margin: auto
  ul, li
    margin: 0
    padding: 0
    list-style: none
  i
    color: darken($gray, 20%) 
    font-size: 17px
    background-color: rgba($white, .3)
    height: 38px
    width: 38px
    border-radius: 50%
    text-align: center
    margin: 9px 0
    line-height: 38px
    transition: background-color .25s ease
    &:hover
      background-color: rgba($white, .5)
      position: relative
.header-contacts
  background-color: rgba(black , .3)
  // height: 55px
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  border-top: 1px solid rgba($white, .15)
  padding: 10px 0
  .icon 
    color: $gray
    display: flex
    justify-serif: center
  .text
    color: $white
    padding-left: 10px
    font-size: 18px
    margin-bottom: 0
  .header-phone
    font-family: $phone-font
    font-size: 16px !important

    
.fa-mobile
  justify-content: center
.header-bottom
  margin: 0      

