// mmemu plagin restyling
.mm
  &-navbar
    height: auto
    position: relative
    border: none
    &__title img
      width: 128px
      height: auto
      margin: 10px
  &-listitem 
    border: none
    &:after
      display: none
li.mm-listitem.mm-listitem_selected 
  background-color: #000000 //HELP!!!!!
  color: $accent
    

html.mm-opened
  overflow-y: scroll
.mm-panels > .mm-panel.mm-hasnavbar
  right: -18px
// mmemu plagin restyling END