// s-call
.s-call
  position: relative
  background-size: contain
  background-repeat: no-repeat
  background-color: $white
  background-position: 10% //???вроде, тоже плохо здесь проценты, да?
  &:before
    content: ""
    position: absolute
    width: 50%
    height: 100%
    right: 0
    background-color: rgba($accent, .92)
  .success
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    text-transform: uppercase
    font-weight: bold
    z-index: 10
    span 
      margin: auto
    & ~ *
      transition: all .5s ease
    &.active
      & ~ *
        opacity: .5
        filter: blur(10px)
  .callback
    padding: 25% 0     //   :(
    position: relative
    p 
      margin-top: 0
    &-logo
      img
        width: 100px
        height: auto
    .formhead
      margin: 0
      font-size: 30px
      text-transform: uppercase
      line-height: 1.5
      font-weight: 800
    input, textarea, select,
    .selectize-control .selectize-input
      color: $white
      background-color: transparent
      border: 1px solid rgba($dark, .2)
      border-bottom: 2px solid rgba($dark, .2)
      border-radius: 2px
      padding: 8px 20px
      outline: none
      display: inline-block
      width: 100%
      margin-top: 15px
      &::-webkit-input-placeholder
        color: $white
        opacity: 1
      &::-moz-placeholder
        color: $white
        opacity: 1
      &::-ms-input-placeholder
        color: $white
      option
        color: $dark
    select
    .selectize-control .selectize-input
      font-size: 16px
      box-shadow: none
      overflow: inherit
      line-height: inherit
      text-align: left
      &.dropdown-active::before
        background-color: transparent
    .form-button
      margin-top: 40px
.selectize-control.single
  .selectize-dropdown
    font-size: 15px
    border: none
    border-radius: 0
    text-align: left
    &-content
      .option
        padding: 10px 22px
        &.active
          background-color: lighten($accent, .25)
  .selectize-input, &.dropdown-active
      &:after
        border: none
        font-family: fontawesome
        content: "\f107"
        position: absolute
        right: 20px
        top: 13px
      &.dropdown-active::after
        content: '\f106'

        


    
// border: 1px solid red
// s-call END