.s-services
  color: black
.owl-next
  i
    font-size: 30px
.owl-prev
  i
    font-size: 30px

$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
  .carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i})
    background-color: nth($colors, $i)


.carousel-services
  // backface-visibility: inherit  
  background-color: $dark
  &-item
    color: $white
    font-size: 18px
    font-weight: 300
    position: relative
    display: flex
    flex-direction: column
    &:hover
      .carousel-services-image
        opacity: 1
  .owl-item
    &:nth-child(2n+2)
      .carousel-services-item
        flex-direction: column-reverse
  &-composition
    padding: 60px 45px 80px 45px
    text-align: center
    .carousel-logo
      text-align: center
      img
        width: 100px
        height: auto
        display: inline-block
    h3
      font-size: 30px
      line-height: 30px
      span
        font-size: 18px
        font-weight: 400
    h3, ul, .button-white
      display: inline-block
    .button-white
      background-color: $white
      color: black
      font-weight: 400
    ul 
      list-style: none
      strong
        color: black
      li
        padding: 10px
        &:first-child, &:nth-child(2n)
          position: relative
          &:after
            content: ""
            position: absolute
            height: 1px
            width: calc(100% + 100px)
            background-color: $gray
            opacity: 20%
            bottom: 0
            transform: translateX(calc(-100% + 50px))
            
        
      

        

      
  &-image
    background-size: cover
    background-position: center
    opacity: .7
    transition: all .5s ease